#logo {
    margin-left: 8px;
}

.calc {
    border: 2px solid white;
    border-radius: 12px;
    width: fit-content;
    position: relative;
    top: 5px;
    left: 4PX;
}

.calc input {
    font-size: large;
    border-radius: 7px;
    background-color: #0f3150;
    color: white;
    width: 50px;
    cursor: pointer;
}

#display {
    width: 203px;
    font-weight: bolder;
}

body {
    background: url(bulb2.jpg) no-repeat center center/cover;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.box {
    /* border: 2px solid red; */
    width: fit-content;
    border-radius: 8px;
    background: rgba(255, 255, 255, .06);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 8px;
    position: relative;
    top: 23px;
    margin: -11px auto;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    padding: 21px 2px;
}

.box input {
    width: 228px;
    padding: 7px 13px 9px;
    font-size: large;
    border-radius: 7px;
    background-color: #0f3150;
    color: white;
    font-weight: bold;
}

.btn input {
    background-color: #bbbbbb;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.btn input:hover {
    background-color: #000000f0;
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #ffbc26;
}

.text {
    color: aliceblue;
    font-size: 20px;
}

.answer {
    font-size: 20px;
}

.answer input {
    font-weight: bolder;
    font-size: 28;
}

.navbar {
    /* border: 2px solid red; */
    width: 100.5%;
    position: relative;
    left: -7px;
    background-color: black;
}

.links-container {
    /* border: 2px solid blue; */
    position: relative;
    width: fit-content;
    top: 24px;
    font-size: 20px;
    font-size: large;
    color: #ffbc26;
    left: -8px;
}